<%- include partials/header.ejs %>

  <%- include partials/main_nav.ejs %>



    <div class="container">
      <div class="intro_section">
        <div class="Holaa">
          <h1> Holaa !</h1>
          <h1> Welcome to my personal portfolio</h1>
        </div>
        <div class="main_section">
          <h2>I’m Saurav Bhatt, I am technology geek and begineer prgogrammer from Nepal. <br>
             I am currently living in Torornto, Canada
             and pursuing my higher studies in software engineering at Centennial College. 

          </h2>
        </div>
        <div class="Email_CTA">
          <p>Connect With Me 👉 <span><a href="#">me.saurav2023@gmail.com</a></span>
          <span><a href=> https://www.facebook.com/sau.rav.186590 </a></span> </p>
        </div>
      </div>

      <div class="hero_image">
        <img src="/assets/images/Image_1.png" alt="Saurav' s image" class="headshot">
        <img src="/assets/images/arrow.svg" alt="" class="arrow">
      
      </div>
    </div>

  