<%- include partials/header.ejs %>

  <%- include partials/main_nav.ejs %>



    <div class="container">
      <div class="intro_section">
        <div class="Holaa">
          <h1> Holaa </h1>
        </div>
        <div class="main_section">
          <h2>I’m Saurav Bhatt, a software developer from Nepal. I am currently based in Toronto, Canada.I build
            beautiful apps for the web!</h2>
        </div>
        <div class="Email_CTA">
          <p>Connect With Me 👉 <span><a href="#">me.saurav2023@gmail.com</a></span></p>
        </div>
      </div>

      <div class="hero_image">
        <img src="/assets/images/Image_1.png" alt="Saurav' s image" class="headshot">
        <img src="/assets/images/arrow.svg" alt="" class="arrow">
      
      </div>
    </div>

  